<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

 	<bean id="userDetailsService"
		class="pl.miasi2013.spring.lab2.authentication.MyUserDetailsService" />
	<security:http pattern="/resources/**" security="none" />
	<security:http pattern="/webjars/**" security="none" />
	
	<bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder" />

	<!-- order matters ! -->
	<security:http auto-config='true' use-expressions="true">
		<security:intercept-url pattern="/" access="permitAll" />
		<security:intercept-url pattern="/login"
			access="permitAll" />
		<security:intercept-url pattern="/books.html"
			access="permitAll" />
		<security:intercept-url pattern="/books/**"
			access="permitAll" />
		<security:intercept-url pattern="/**"
			access="isAuthenticated()" />
		<security:form-login login-page="/login"
			login-processing-url="/loginProcess" authentication-failure-url="/login?login_error=1" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="userDetailsService" >
			<security:password-encoder ref="passwordEncoder"/>
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
